<%= render "layouts/header"  %>
<% if ($userRole_frm == "Supplier")  %>  
    <div class="container-fluid white-container nopad">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
            <%= render "layouts/sidenav"  %>       
        </div>
        <div class="col-sm-9 col-md-11">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padl0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-container"><%= image_tag("shipper-tab-1.png", class: "img-responsive") %>  </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-container"><%= image_tag("shipper-tab-2.png", class: "img-responsive") %>  </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-container"><%= image_tag("shipper-tab-3.png", class: "img-responsive") %>  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopadmar">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-container">
                        <%= image_tag("shipper-tab-4.png", class: "img-responsive") %> 
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-container">
                        <%= image_tag("shipper-tab-5.png", class: "img-responsive") %> 
                    </div>
                </div>
              
        </div>
      </div>
</div>
<% else %>  
    <div class="container-fluid white-container nopad">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
            <%= render "layouts/sidenav"  %>       
        </div>
        <div class="col-sm-9 col-md-11">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padl0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-container firmcapgraph-bottomspace">
                        <%= image_tag("transporter-tab-1.png", class: "img-responsive") %> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 img-container">
                        <%= image_tag("transporter-tab-2.png", class: "img-responsive") %> 
                    </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-container">
                    <%= image_tag("transporter-tab-3.png", class: "img-responsive") %> 
                </div>
        </div>
      </div>
</div>
<% end %>

<footer>
  <p></p>
  <p></p>
</footer>