<%= render "layouts/header"  %>

<div class="container-fluid white-container nopad">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
            <%= render "layouts/sidenav"  %>       
        </div>
        <div class="col-sm-9 col-md-11">  
            <% if ($userRole_frm == "Transporter")  %>  
                <div class="alert alert-danger btn-top-spacing">Transporters don't have permission to access this page</div>
            <% else %>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentheader"> 
        <div class="pull-left"> <h3 class="pageheading">Notifications</h3></div>
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar">                   
        <div class="table-responsive">
            <table class="table table-bordered gridTable" id="notification">
            <thead class="gridheader">
                <tr>
                <th>Notification#</th>
                <th>Details</th>
                <th>Action</th>             
             </tr>
            </thead>
            <tbody>                          
                 <% @notifications.each do |key,value| %>
                    <% value.each do |keyNotify,valNotify| %> 
                        <% valNotify.each do |val| %>
                            <% if val["notificationid"] != nil %>
                            <tr>                              
                                <td><%= val["notificationid"] %></td>
                                <td><%= val["notification_details"] %></td>
                                <td class="text-center">
                                    <%= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe, new_nomination_path(status:"viewNom",capacity_ref:val["capacity_ref"],
                                         startdate_and_time:val["startdate_and_time"],
                                         enddate_and_time:val["enddate_and_time"],injection_point:val["injection_point"],
                                         injection_quantity:val["injection_quantity"],offtake_point:val["offtake_point"],
                                         offtake_quantity:val["offtake_quantity"],nomination_type:val["nomination_type"],
                                        statusNomination:val["status"],nominationid:val["nominationid"])  %>
                                </td>
                            </tr>
                            <% end %>
                        <% end %>
                    <% end %>                              
                <% end %>
            </tbody>
          </table>
        </div>
    </div>  
            <%end %>
        </div>
      </div>
</div>
<footer>
  <p></p>
  <p></p>
</footer>