<%= render "layouts/header"  %>

<div class="container-fluid white-container nopad">
      <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
            <%= render "layouts/sidenav"  %>       
        </div>
        <div class="col-sm-9 col-md-11">  
            <% if ($userRole_frm == "Supplier")  %>  
                <div class="alert alert-danger btn-top-spacing">Suppliers don't have permission to access this page</div>
            <% else %>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentheader"> 
                    <div class="pull-left"> <h3 class="pageheading">Schedule</h3></div>
               
             <div class="pull-right">
                 <%= link_to :method => :execute  do %>
                        <span class='btn btn-primary btn-small'>Execute Scheduler</span>
                 <% end %>
            </div>      
    
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar">                   
                <div class="table-responsive">
                    <table class="table table-bordered gridTable" id="schedule">
                        <thead class="gridheader">
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Time Range</th>
                                <th class="text-center">Injection Details</th>
                                <th class="text-center">Offtake Details</th>
                                
                            </tr>
                        </thead>
                        <tbody>  
                        <% if @schedules[:one] != {} %>
                              <% @schedules[:one].each do|k,v| %>
                                <tr>       
                                    <% if v!= nil %>                              
                                        <td><%= v[0] %></td>
                                        <td><%= v[1] %></td>
                                        <td><%= v[2] %></td>
                                        <td><%= v[3] %></td>
                                    <% end %>
                                </tr>
                            <% end %> 
                        <% end %>
                        <% if @schedules[:two] != {} %>
                              <% @schedules[:two].each do|k,v| %>
                                <tr>       
                                    <% if v!= nil %>                              
                                        <td><%= v[0] %></td>
                                        <td><%= v[1] %></td>
                                        <td><%= v[2] %></td>
                                        <td><%= v[3] %></td>
                                    <% end %>
                                </tr>
                            <% end %> 
                        <% end %>
                        <% if @schedules[:three] != {} %>
                              <% @schedules[:three].each do|k,v| %>
                                <tr>       
                                    <% if v!= nil %>                              
                                        <td><%= v[0] %></td>
                                        <td><%= v[1] %></td>
                                        <td><%= v[2] %></td>
                                        <td><%= v[3] %></td>
                                    <% end %>
                                </tr>
                            <% end %> 
                        <% end %>
                             <% if @schedules[:four] != {} %>
                              <% @schedules[:four].each do|k,v| %>
                                <tr>       
                                    <% if v!= nil %>                              
                                        <td><%= v[0] %></td>
                                        <td><%= v[1] %></td>
                                        <td><%= v[2] %></td>
                                        <td><%= v[3] %></td>
                                    <% end %>
                                </tr>
                            <% end %> 
                        <% end %>
                            
                        </tbody>
                    </table>
            </div>
        </div>  
     <%end %>
        </div>
      </div>
</div>
<footer>
  <p></p>
  <p></p>
</footer>