 <div id="navbar" class="navbar-collapse collapse">
  <ul class="nav sidebar-nav">              
    <li class="<%= is_active?('/dashboard') %>">
        <%= link_to '/dashboard', class:"btn"  do %>
            <span class="glyphicon"><%= image_tag("home.png", size: "24X24", class: "img-fluid icons") %></span>Home
        <% end %>
    </li>
    <li class="<%= is_active?('/nominations') %> <%= is_active?('/nominations/new') %>">
        <%= link_to '/nominations', class:"btn"  do %>
        <span class="glyphicon"><%= image_tag("nomination_icon.png", size: "24X24", class: "img-fluid icons") %></span>Nominations
        <% end %>
    </li>
    <li class="<%= is_active?('/nominations/schedule') %>">
        <%= link_to '/nominations/schedule', class:"btn" do %>
        <span class="glyphicon"><%= image_tag("scheduling.png", size: "24X24", class: "img-fluid icons") %></span>Scheduling
        <% end %>
    </li>
    <li>
        <a href="#" class="btn">
            <span class="glyphicon"><%= image_tag("consumption_icon.png", size: "24X24", class: "img-fluid icons") %></span>Consumption
        </a>
    </li>
    <li>
        <a href="#" class="btn">
            <span class="glyphicon"><%= image_tag("billing.png", size: "24X24", class: "img-fluid icons") %></span>Billing
        </a>
    </li>
    <li class="<%= is_active?('/nominations/notification') %>">
        <%= link_to '/nominations/notification', class: "btn" do %>
        <span class="glyphicon"><%= image_tag("notification.png", size: "24X24", class: "img-fluid icons") %></span>Notifications
        <% end%>
    </li>
  </ul>
</div>
